.select-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.select-input-container span {
    font-family: 'spartan-medium';
    font-size: 10px;
    margin-bottom: 5px;
}

.select {
    border-radius: 5px;
    height: 35px;
    width: 175px;
    padding-left: 15px;
    padding-right: 15px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../../assets/icons/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-position-x: 93%;
    background-position-y: 50%;
    font-family: 'spartan-bold';
    font-size: 13px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.options-container {
    position: absolute;
    border-radius: 5px;
    margin-top: 70px;
    width: 230px;
}

.option {
    padding: 12px 15px;
    border-bottom: 1px solid #cecece;
    font-family: 'spartan-bold';
    font-size: 13px;
    cursor: pointer;
}

.option-container :hover {
    color: var(--select-option-hover);
}