.modal-add-item-container {
    position: absolute;
    margin: auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height: 600px;
    width: 800px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

.modal-add-item-container > div {
    padding: 10px 20px;
}

.quantity-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
}

.cancel-btn {
    background-color: transparent;
    border: 0px;
    font-family: 'spartan-regular';
    cursor: pointer;
    float: left;
    padding: 50px;
}