.side-bar-invoice-container {
    height: 100vh;
    width: 450px;
    background-color: var(--dark-theme-side-bar-invoice-bg);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    overflow-y: scroll;
}

.city-postcode-country {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.invoice-paymentterms {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttons-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h3 {
    font-family: 'spartan-bold';
    color: var(--dark-theme-font-color);
}

p {
    color: var(--button-action-bg);
    font-family: 'spartan-bold';
    font-size: 10px;
    padding-left: 5px;
}

.full-field-custom-container {
    padding: 10px 5px;
    width: 93%;
}

.three-field-custom-container {
    width: 107px;
    padding: 10px 5px;
    margin-right: 30px;
}

.invoicedate-paymentterms {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.two-field-custom-container {
    width: 30px;
    padding: 10px 5px;
    margin-right: 120px;
}