.button-two-container {
    border-radius: 50px;
    background-color: var(--button-action-bg);
    height: 30px;
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.button-two-container:hover {
    background-color: var(--button-action-hover);
} 

.button-two-text {
    font-size: 13px;
    color: white;
    font-family: 'spartan-semi-bold';
    margin: 0px;
}